{% extends "layout.html.twig" %}

{% block title 'index' %}
{% block content %}
    <section>
        <div class="row">
            <a class="btn btn-info" href="/user">User Bereich</a>
            <a class="btn btn-warning" href="/admin">Admin Bereich</a>
        </div>
    </section>

    {% for alert in app.session.flashbag.get('not_activated') %}
        <section>
            <div class="row">
                <div class="error-message">
                    <div class="alert"><strong>{{ alert }}</strong></div>
                </div>
            </div>
        </section>
    {% endfor %}

    <section>
        <div class="row">
            <h2>Mail Links</h2>
        </div>
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>link</th>
                    <th>uid</th>
                    <th>expires</th>
                </tr>
                {% for mailcode in mailcodes %}
                    <tr>
                        <td><a href="/link/mail/{{ mailcode.uid }}/{{ mailcode.code }}">{{ mailcode.code }}</a></td>
                        <td>{{ mailcode.uid }}</td>
                        <td>{{ mailcode.expires }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    <section>
        <div class="row">
            <h2>Recovery Links</h2>
        </div>
        <div class="row">
            <div class="row">
                <table class="table table-striped">
                    <tr>
                        <th>link</th>
                        <th>uid</th>
                        <th>expires</th>
                    </tr>
                    {% for recoverycode in recoverycodes %}
                        <tr>
                            <td><a href="/link/recovery/{{ recoverycode.uid }}/{{ recoverycode.code }}">{{ recoverycode.code }}</a></td>
                            <td>{{ recoverycode.uid }}</td>
                            <td>{{ recoverycode.expires }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
{% endblock %}
